<nav class="main-menu"><ul>
    <li><a href="http://pillowtalk.io">Home</a></li>
    <li><a href="http://pillowtalk.io">Join Pillow Talk</a></li>
    {{! Add there all your static pages}}
</ul></nav>
